{% extends 'base.html' %}
{% block content %}
<h1 style="text-align: center;">
    {{ search | title }}
</h1>
<div class="row">
    {% for post in final_posts %}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="{{post.3.0}}">
            </div>
            <div class="card-content">
                <p>{{post.0}}</p>
            </div>
            <div class="card-action">
                <a href="{{post.1}}" target="_blank">{{post.2}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% comment %} <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://cdn.shopify.com/s/files/1/0272/4770/6214/articles/when-do-puppies-start-walking.jpg?v=1593020034">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://cdn.shopify.com/s/files/1/0272/4770/6214/articles/when-do-puppies-start-walking.jpg?v=1593020034">
                <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="/">This is a link</a>
            </div>
        </div>
    </div> {% endcomment %}
</div>
{% endblock content %}